.navbar-brand {
	font-size: 1.8em;
}

.middle-content{
	background-color: lightyellow;
}

.content-container{
	padding: 1em 0;
}

.content-box{
	box-shadow: 0px 0px 3px grey;
	border-radius: 12px;
	margin: 1em auto;
	padding: 1em;
}

.footer{
	position: absolute;
	box-shadow: 0px 0px 3px grey;
}